<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Tabla de multiplicar</title>
</head>
<body class="text-bg-dark p-3" >
    <center>
    <div class="text-bg-light p-3" style="width: 80%; height: 80%; margin-top: 15px; border-radius: 2em;">

    <nav class="navbar navbar-expand-lg bg-body-tertiary" class="navbar bg-dark" data-bs-theme="dark" style="border-radius: 2em;">
        <div class="container-fluid">
            <a class="navbar-brand" style="color: rgb(25, 177, 237); font-size: 8mm; font-family: Monserrat;">Tabla de Multiplicar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="./">Inicio</a>
                    <a class="nav-link active " aria-current="page" href="./cotizacion">Cotizacion</a>
                </div>
            </div>
        </div>
    </nav>

        <br><br>
    <h1>Tabla de multiplicar</h1>
    <br><br>
    <form action="/tabla" method="post" >
        <label class="text-uppercase" for="Tabla">Tabla: </label>
        <input class="bg-info p-1" style="--bs-bg-opacity: .3;"type="number" id="numero" name="numero" required="true" value = <%=numero%> >
        <button type="submit"class="btn btn-outline-primary mb-3">Calcular</button>
        <button type="reset" class="btn btn-outline-danger mb-3" >Limpiar</button>
    </form><br><br>

    <% 
    if(numero!=null){
    let res = 0;
    for(con=0;con <= 10;++con){
    res = numero * con;
        %>
    <div style="background-color: rgb(206, 179, 233); border-radius: 2em;">
    <h3 class="fs-5"><%=numero%> * <%=con%> = <%=res%></h3>
    <hr style="border-color: white;">
    </div>
    <%
    }
    }
    %>
    
    </div>
    </center>
</body>
</html>